body{
    font-size: large;
    background: #444444;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

footer{
    background: #333333;
    width: 100vw;
    position: absolute;
    display: flex;
    bottom: 0;
    padding: 10px 20px;
    box-sizing: border-box;
}

input.text {
    background: #ffffff;
    border: none;
    flex-grow: 1;
    padding: 0 1rem; 
    border-radius: 2rem; 
    margin: 0.25rem;
    height: 30px;
    font-size: large;
}
input.btn{
    border: none;
    border-radius: 20px;
}

.message {
    
    position: absolute;
    bottom: 60px;
    margin: 10px;
    list-style: none;
    word-break: break-word;
}
.message div {
    display: list-item;
    max-width: 40vw
}